
body {
  background-color: white;
  color: black; /* text color */
}

.navbar-default {
  background-color:#f76800;
}

.navbar-default .navbar-nav>li>a {
  color:black;
  font-weight: bold;
}

h1 {
  color:#f76800;
}

.navbar-brand>img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-brand {
  margin-right: 45px;
}

.container-fluid {
  position: relative;
  height: 50px;
}